@font-face {
  font-family: "GeoSansLight";
  src: url("/fonts/GeoSansLight.ttf") format("truetype");
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'GeoSansLight';
}

.main {
  height: 100%;
  width: 100%;
  background: url("/images/backgrounds/back-1.jpg") no-repeat center center fixed;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  background: rgb(243, 243, 243);
  display: block;
  font-family: 'GeoSansLight';
  font-size: 36px;
  padding: 10px 40px;
  z-index: 9999999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

header .right {
  float: right;
}

header .right ul {
  margin: 0;
}
header .right li {
  display: inline;
}

header .right li a {
  color: black;
  text-decoration: none;
  position: relative;
  top: 5px;
}
header .right a img {
  width: 36px;
  height: 36px;
  margin:0;
  padding:0;
}

.cb-slideshow,
.cb-slideshow:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 0;
    margin-top: 0;
}

/* HAXXORS */
/* Same has height of header, since this is position:fixed; */
.cb-slideshow,
.cb-slideshow:after {
  top: 65px;
}

.cb-slideshow li {
  list-style-type: none;
}

.cb-slideshow:after {
    content: '';
    /*
      * When this is uncommented, it shows up, but blocks the
      * rest of the animations / slides for some reason
      * TODO: fix;
    */
    /*background-image: url(../images/backgrounds/back-1.jpg);*/
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.cb-slideshow li span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    color: transparent;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: none;
    opacity: 0;
    z-index: 0;
    animation:          imageAnimation 36s linear infinite 0s;
    -webkit-animation:  imageAnimation 36s linear infinite 0s;
}


.cb-slideshow li:nth-child(1) span {
    background-image: url(../images/backgrounds/back-2.jpg)
}
.cb-slideshow li:nth-child(2) span {
    background-image: url(../images/backgrounds/back-3.jpg);
    animation-delay: 6s;
    -webkit-animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
    background-image: url(../images/backgrounds/back-3.jpg);
    animation-delay: 12s;
    -webkit-animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
    background-image: url(../images/backgrounds/back-4.jpg);
    animation-delay: 18s;
    -webkit-animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
    background-image: url(../images/backgrounds/back-5.jpg);
    animation-delay: 24s;
    -webkit-animation-delay: 24s;
}

.cb-slideshow li:nth-child(2) div {
    animation-delay: 6s;
    -webkit-animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
    animation-delay: 12s;
    -webkit-animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
    animation-delay: 18s;
    -webkit-animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
    animation-delay: 24s;
    -webkit-animation-delay: 24s;
}

@media screen and (max-width: 1140px) {
    .cb-slideshow li div h3 { font-size: 140px }
}
@media screen and (max-width: 600px) {
    .cb-slideshow li div h3 { font-size: 80px }
}

@keyframes imageAnimation {
    0% {
      opacity: 0;
      animation-timing-function: ease-in;
      -webkit-animation-timing-function: ease-in;
    }
    8% {
      opacity: 1;
      animation-timing-function: ease-out;
      -webkit-animation-timing-function: ease-out;
    }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}

@-webkit-keyframes imageAnimation {
    0% {
      opacity: 0;
      animation-timing-function: ease-in;
      -webkit-animation-timing-function: ease-in;
    }
    8% {
      opacity: 1;
      animation-timing-function: ease-out;
      -webkit-animation-timing-function: ease-out;
    }
    17% { opacity: 1 }
    25% { opacity: 0 }
    100% { opacity: 0 }
}
