@font-face {
  font-family: "GeoSansLight";
  src: url("/fonts/GeoSansLight.ttf") format("truetype");
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'GeoSansLight';
}
.main {
  height: 100%;
  width: 100%;
  background: url("/images/backgrounds/back-1.jpg") no-repeat center center fixed;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.info-area {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  background-color: white;
  line-height: 1.43;
}

header {
  background: rgb(243, 243, 243);
  display: block;
  font-family: 'GeoSansLight';
  font-size: 48px;
  padding: 10px 40px;
}

header .right {
  float: right;
}

header .right ul {
  margin: 0;
}
header .right li {
  display: inline;
}

header .right a {
  color: black;
  text-decoration: none;
}
