#title {
  display: block;
  text-transform: uppercase;
  font-size: 72px;
  color: white;
  height: 100px;
  line-height: 100px;
  width: 340px;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 30px;
  margin-bottom: 30px;
  padding: 0;
}

#title .name { width: 240px; }
#title img { margin-left: 240px; }

#title .name,
#title img {
  display: inline-block;
  position: absolute;
}
