<video id="hero" autoplay muted width='100%'>
  <source src="background.mp4" type="video/mp4">
</video>

<header>
  contact@sanjaykmusic.com
  <div class="right">
    <ul>
    <li><a href="https://facebook.com/sanjaykmusic">Facebook</a></li>
    <li><a href="https://youtube.com/sanjaykmusic">YouTube</a></li>
    <li><a href="https://soundcloud.com/sanjaykmusic">Soundcloud</a></li>
    </ul>
  </div>
</header>

<!-- <div class="info-area">
<div id="title">
  Sanjay K
</div>
</div> -->